<div class="clue" data-entry-id="<%= @id %>">
  <span class="clue-reference">
    <span class="clue-reference-number"><%= number %></span>
    <span class="clue-reference-direction"><%= direction.first.downcase %></span>
  </span>
  <span class="clue-text"><%== @clue %></span>
</div>