<div class="cluebar">
  <div class="cluebar-container">
    <%= button :chevron_left,
      class: "cluebar-previous",
      click: "$dispatch('navigate:previous-entry')" %>
    <ol class="cluebar-clues">
      <% clues.each do |clue| %>
        <li class="cluebar-clue" x-show="$puzzle.state.activeEntryId === <%= clue.id.to_json %>">
          <%= clue %>
        </li>
      <% end %>
    </ol>
    <%= button :chevron_right,
      class: "cluebar-next",
      click: "$dispatch('navigate:next-entry')" %>
  </div>
</div>