<div class="cluebar">
  <div class="cluebar-container">
    <%= button :chevron_left,
      class: "cluebar-previous",
      click: "$dispatch('navigate:previous-entry'); $dispatch('keyboard:reset')" %>
    <ol class="cluebar-clues">
      <% clues.each do |clue| %>
        <li
          class="cluebar-clue"
          x-show="$puzzle.state.activeEntryId === <%= clue.id.to_json %>"
          x-cloak>
          <%== helpers.sanitize(clue.to_s) %>
        </li>
      <% end %>
    </ol>
    <%= button :chevron_right,
      class: "cluebar-next",
      click: "$dispatch('navigate:next-entry'); $dispatch('keyboard:reset')" %>
  </div>
</div>