<div
  class="loading-bar"
  x-data="loadingBar"
  :class="{loading: state === 'loading', loaded: state === 'complete'}">
  <div class="loading-bar-progress" :style="`width: ${progress}%`"></div>
</div>