<%= tag.div id:,
  class: class_names,
  **html_attrs,
  "x-data": "modal",
  "x-show": "ready && $app.modal == id",
  "x-transition:enter.opacity.1000ms": true,
  "x-cloak": true do %>
  <div class="modal-container" x-transition:enter.delay.500ms.opacity.500ms x-show="ready" x-cloak>
    <div class="modal-header">
      <h2 class="modal-title"><%= title %></h2>
      <%= button :x, class: "modal-close", "@click": "hide" %>
    </div>
    <div class="modal-content">
      <%= content %>
    </div>
  </div>
<% end %>