<%= render ModalComponent.new(
  id: "settings",
  title: "Settings",
  show: "$app.modal == id",
  close: "toggleSettings",
  class: "settings",
  blocking: true
) do |modal| %>
  <div class="settings-options">
    <div class="settings-option">
      <div class="settings-option-label">
        Always show timer
      </div>
      <div class="settings-option-control">
        <div class="settings-option-toggle">
          <button @click="$settings.timer = true" :class="{enabled: $settings.timer}">
            Yes
          </button>
          <button @click="$settings.timer = false" :class="{enabled: !$settings.timer}">
            No
          </button>
        </div>
      </div>
    </div>
    <div class="settings-option">
      <div class="settings-option-label">
        Show stats when finished
      </div>
      <div class="settings-option-control">
        <div class="settings-option-toggle">
          <button @click="$settings.stats = true" :class="{enabled: $settings.stats}">
            Yes
          </button>
          <button @click="$settings.stats = false" :class="{enabled: !$settings.stats}">
            No
          </button>
        </div>
      </div>
    </div>
  </div>
  <footer class="settings-footer">
    <%= button "Back to crossword", "@click": "hide" %>
  </footer>
<% end %>