<div
  class="timer"
  x-data="timer"
  @timer:toggle.document="toggle"
  @timer:stop.document="stop"
  @timer:start.document="start"
  @timer:reset.document="reset"
  @crossword:complete.document="stop"
  @crossword:change.document="if ($settings.timerAutoStart && !running) start()"
  :class="{running,started}">
  <span class="timer-display" x-text="formattedTimeElapsed" @click.stop="toggle">00:00:00</span>
  <%= button(
    icon: :timer_reset,
    class: "timer-button",
    click: "$dispatch('timer:reset')",
    "x-show": "stopped && timeElapsed > 0 && !$puzzle.finished",
    "x-cloak": true
  ) %>
</div>
