.button {
  color: currentColor;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .button-content {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.4em;
    flex: none;
    line-height: 0;
    height: 100%;
  }

  .button-icon {
    display: contents;
  }

  .icon {
    height: 100%;
  }

  .button-label {
    line-height: 1;
    font-size: inherit;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.7;
    cursor: auto;
  }

  &.with-icon-only {
    width: 1em;
    aspect-ratio: 1 / 1;
  }
}
