.button {
  font-size: var(--font-size-0);
  color: var(--color-light-1);
  cursor: pointer;

  .button-content {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;
    flex: none;
    line-height: 1;
  }

  .icon {
    width: 1.25em;
    height: 1.25em;
  }

  [disabled] {
    pointer-events: none;
    opacity: 0.7;
    cursor: auto;
  }
}
