.cluebar {
  background-color: var(--color-dark-1);
  padding-inline: 6px;

  .cluebar-container {
    max-width: var(--app-max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    column-gap: 1em;
    padding: 0.2em 0 0.3em 0;
  }

  .button {
    width: 1.9em;
    height: 1.9em;
    padding: 0.2em;
    color: var(--color-light-3);
  }

  .cluebar-clues {
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cluebar-clue {
    width: 100%;
  }
  .clue {
    font-size: 0.9em;
    line-height: 1.1;
    text-align: center;
  }

  .clue-reference {
    color: var(--color-bg-highlight);
  }
}
