.crossword {
  user-select: none;
  aspect-ratio: 1 / 1;

  .crossword-board {
    background: transparent;
  }

  .crossword-background {
    fill: transparent;
  }

  .crossword-cell-background {
    fill: var(--color-light-1);
    stroke: var(--color-dark-2);
    stroke-opacity: 0.5;
    stroke-width: 0.5px;

    .highlighted > & {
      fill: var(--color-bg-highlight);
    }

    .active > & {
      fill: var(--color-bg-highlight-muted);
    }
  }

  .crossword-cell.incorrect.checking {
    > .crossword-cell-background {
      transition: fill 0.2s ease-in;
      fill: var(--crossword-cell-error-bg);
    }

    > .crossword-cell-text {
      fill: var(--crossword-cell-error-text);
    }
  }

  .crossword-separator {
    fill: var(--color-dark-2);
  }

  .crossword-cell-number {
    user-select: none;
    pointer-events: none;
    font-family: sans-serif;
    color: var(--color-dark-1);
    font-size: 0.625rem;
  }

  .crossword-cell-text {
    font-size: 1rem;
    user-select: none;
    pointer-events: none;
    text-transform: uppercase;
    opacity: 1;
  }
}
