.puzzle {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  user-select: none;
  position: relative;

  .puzzle-header {
    padding-inline: var(--app-padding-inline);
    font-size: var(--font-size-1);

    .puzzle-header-container {
      max-width: var(--puzzle-max-width);
      margin: 0 auto;
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      align-items: center;
      padding-top: 0.1em;
      padding-bottom: 0.1em;

      .sync-challenge & {
        grid-template-columns: 1fr;
      }
    }

    .puzzle-challenge-back {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        font-size: 0.7em;
        padding: 0.5em 0;
      }

      .puzzle-challenge-back-link {
        color: var(--color-bg-highlight);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.4em;

        .icon {
          width: 1.2em;
          height: 1.2em;
        }
      }

      .puzzle-challenge-back-hide {
        color: var(--color-light-3);
        font-size: 0.55em;
        font-style: italic;
        text-decoration: none;
        position: relative;
        top: 0.15em;
        margin-left: 0.5em;

        &:hover {
          color: var(--color-light-2);
        }
      }
    }

    .puzzle-header-link {
      position: relative;
      z-index: 10;
      display: block;
      color: var(--color-light-3);
      line-height: 0;
      opacity: 0.7;
      padding: 0.3em;
      width: 1.7em;
      height: 1.7em;

      &[disabled] {
        opacity: 0.3;
      }

      &:hover,
      &:active {
        opacity: 1;
      }

      &.disabled {
        cursor: auto;
        pointer-events: none;
        opacity: 0.4;
      }

      &.puzzle-header-link-older {
        margin-left: -0.3em;
      }

      &.puzzle-header-link-newer {
        margin-right: -0.3em;
      }
    }

    .puzzle-header-main {
      display: flex;
      align-items: center;
      font-family: var(--font-mono);
      font-size: var(--font-size-0);
      color: var(--color-light-3);
      margin: 0 auto;

      > div {
        display: flex;
        align-items: center;
        font-family: var(--font-mono);
        font-size: 0.8em;
      }
    }

    .puzzle-header-date a {
      color: var(--color-light-3);
      text-decoration: none;

      .icon {
        width: 1em;
        height: 1em;
      }
    }

    .puzzle-header-separator {
      flex: none;
      font-size: 0.5em;
      position: relative;
      top: -0.05em;
    }

    .puzzle-header-complete {
      cursor: pointer;

      span {
        color: var(--color-bg-positive);
      }

      .puzzle-complete-marker {
        color: var(--color-bg-positive);
        margin-right: 0.4em;
      }
    }

    .puzzle.finished & .timer-display {
      pointer-events: none;
      cursor: auto;
    }
  }

  .puzzle-board {
    height: 100%;
    overflow: auto;
    position: relative;
    padding-inline: var(--app-padding-inline);
  }

  .puzzle-board-container {
    width: 100%;
    max-width: var(--puzzle-max-width);
    aspect-ratio: 1 / 1;
    margin: 0 auto;
  }

  .puzzle-cluesheet {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: fit-content;
    z-index: 50;
    transform: translateX(100%);
    transition: all 0.15s ease;

    &.open {
      transform: translateX(0);
      .cluesheet {
        box-shadow: -12px 0px 28px 0px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

#confetti {
  pointer-events: none;
}
