.puzzle {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  .puzzle-board {
    height: 100%;
    overflow: auto;
    position: relative;
    padding-inline: var(--app-padding-inline);
  }

  .puzzle-board-container {
    width: 100%;
    max-width: var(--puzzle-max-width);
    aspect-ratio: 1 / 1;
    margin: 0 auto;
  }
}

#confetti {
  pointer-events: none;
}
