.settings {
  position: absolute;
  inset: 16px;
  z-index: 100;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
}

.settings-container {
  border-radius: 8px;
  background-color: var(--color-dark-2);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  margin: 0 auto;
  max-width: var(--puzzle-max-width);
}

.settings-header {
  padding-inline: 16px;
  padding-block: 12px;
  display: flex;
  align-items: center;
}

.settings-logo {
  width: 26px;
  margin-right: 8px;
}

.settings-title {
  font-size: 15px;
  text-transform: uppercase;
  color: var(--color-light-3);
  letter-spacing: 1px;
  font-family: var(--font-mono);
}

.settings-close {
  margin-left: auto;
  color: var(--color-light-1);
  padding: 8px;
  margin-right: -10px;
  margin-top: -6px;

  [data-lucide] {
    width: 20px;
    height: 20px;
  }
}

.settings-options {
  margin-top: 20px;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr min-content;
  padding-inline: 16px;
  align-items: center;
}

.settings-option-toggle {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: var(--color-dark-1);
  border-radius: 6px;

  button {
    border-radius: 6px;
    padding: 4px 12px;
    color: var(--color-light-1);
    background-color: var(--color-dark-1);
  }

  button.enabled {
    background-color: var(--color-bg-positive);
  }
}

.settings-footer {
  display: flex;
  justify-content: center;
  padding-block: 12px;

  button {
    margin: 0 auto;
    font-size: 14px;
    background-color: var(--color-dark-1);
    color: var(--color-light-2);
    padding: 8px 14px;
    border-radius: 6px;
  }
}
