.settings {
  .settings-options {
    margin-bottom: 1.75em;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr min-content;
    align-items: center;
    height: min-content;
  }

  .settings-option {
    display: contents;
    font-family: var(--font-mono);
  }

  .settings-option-label {
    color: var(--color-light-2);
    font-size: 0.8em;
  }

  .settings-option-label,
  .settings-option-control {
    padding-block: 0.6em;
    height: 100%;
    align-content: center;
  }

  .settings-option-label,
  .settings-option-control {
    border-bottom: 1px solid color-mix(in srgb, var(--color-light-3) 20%, transparent);
  }

  .settings-option:first-child {
    .settings-option-label,
    .settings-option-control {
      border-top: 1px solid color-mix(in srgb, var(--color-light-3) 20%, transparent);
    }
  }

  .settings-option-toggle {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: var(--color-dark-1);
    border-radius: 6px;
    font-size: 0.8em;

    button {
      border-radius: 6px;
      padding: 4px 12px;
      color: var(--color-light-1);
      background-color: var(--color-dark-1);
    }

    button.enabled {
      background-color: var(--color-bg-positive);
    }
  }

  .settings-footer {
    display: flex;
    justify-content: center;

    .button {
      margin: 0 auto;
      font-size: 14px;
      background-color: var(--color-dark-1);
      color: var(--color-light-2);
      padding: 8px 14px;
      border-radius: 6px;
    }
  }
}
