.settings {
  position: absolute;
  inset: 1em;
  z-index: 100;
  height: calc(100% - 2em);
  width: calc(100% - 2em);

  .settings-container {
    border-radius: 8px;
    background-color: var(--color-dark-2);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
    margin: 0 auto;
    max-width: var(--puzzle-max-width);
  }

  .settings-header {
    padding-inline: 1em;
    padding-block: 1em;
    display: flex;
    align-items: center;
  }

  .settings-title {
    text-transform: uppercase;
    color: var(--color-light-1);
    letter-spacing: 1px;
    font-family: var(--font-mono);
  }

  .settings-close {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    opacity: 0.5;
  }

  .settings-options {
    margin-top: 20px;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr min-content;
    padding-inline: 1em;
    align-items: center;
    height: min-content;
  }

  .settings-option {
    display: contents;
  }

  .settings-option-label {
    color: var(--color-light-2);
    font-size: 0.95em;
  }

  .settings-option-label,
  .settings-option-control {
    padding-block: 0.6em;
    height: 100%;
    align-content: center;
  }

  .settings-option-label,
  .settings-option-control {
    border-bottom: 1px solid rgba(144, 165, 207, 0.3);
  }

  .settings-option:first-child {
    .settings-option-label,
    .settings-option-control {
      border-top: 1px solid rgba(144, 165, 207, 0.3);
    }
  }

  .settings-option-toggle {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: var(--color-dark-1);
    border-radius: 6px;
    font-size: 0.9em;

    button {
      border-radius: 6px;
      padding: 4px 12px;
      color: var(--color-light-1);
      background-color: var(--color-dark-1);
    }

    button.enabled {
      background-color: var(--color-bg-positive);
    }
  }

  .settings-footer {
    display: flex;
    justify-content: center;
    padding-block: 12px;

    button {
      margin: 0 auto;
      font-size: 14px;
      background-color: var(--color-dark-1);
      color: var(--color-light-2);
      padding: 8px 14px;
      border-radius: 6px;
    }
  }
}
