<%
@page_title = "Settings"
%>

<div class="settings">
  <div class="settings-options">
    <div class="settings-option">
      <div class="settings-option-label">
        Always show timer
      </div>
      <div class="settings-option-control">
        <div class="settings-option-toggle">
          <button @click="$settings.timer = true" :class="{enabled: $settings.timer}">
            Yes
          </button>
          <button @click="$settings.timer = false" :class="{enabled: !$settings.timer}">
            No
          </button>
        </div>
      </div>
    </div>
    <div class="settings-option">
      <div class="settings-option-label">
        Start timer automatically
      </div>
      <div class="settings-option-control">
        <div class="settings-option-toggle">
          <button @click="$settings.timerAutoStart = true" :class="{enabled: $settings.timerAutoStart}">
            Yes
          </button>
          <button @click="$settings.timerAutoStart = false" :class="{enabled: !$settings.timerAutoStart}">
            No
          </button>
        </div>
      </div>
    </div>
    <div class="settings-option">
      <div class="settings-option-label">
        Show stats when finished
      </div>
      <div class="settings-option-control">
        <div class="settings-option-toggle">
          <button @click="$settings.stats = true" :class="{enabled: $settings.stats}">
            Yes
          </button>
          <button @click="$settings.stats = false" :class="{enabled: !$settings.stats}">
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="prose centered">
  <p style="opacity: 0.7">
    &larr; <%= back_to_crosswords_link %>
  </p>
</footer>