<%# locals: (label: nil, alt: nil, icon: nil, confirm: false, theme: nil, click: nil, href: nil, tag_name: nil, **attrs) -%>

<% 
button_tag = tag_name&.to_sym || (href ? :a : :button)
classes = class_names([
  "button",
  ("with-icon" if icon),
  ("with-label" if label),
  ("with-icon-only" if icon && !label),
  ("theme-#{@theme}" if theme),
  attrs[:class]
])
html_attrs = attrs.except(:class)
%>

<%= tag.public_send(button_tag,
  href: href,
  "x-data": "button",
  class: classes,
  aria: {label: alt},
  type: "button",
  "@click": ("handleClick($event, () => { #{click} })" if click),
  "@click.outside": "reset",
  ":class": "{confirming}",
  **html_attrs) do %>
  <span class="button-content">
    <% if icon %>
      <div class="button-icon" x-show="ready">
        <%= render "components/elements/icon", name: icon %>
      </div>
    <% end %>
    <% if label %>
      <span class="button-label" x-show="ready">
        <%= label %>
      </span>
      <% if confirm %>
        <span class="button-confirmation" x-ref="confirmation" x-show="confirming">
          <%= confirm %>
        </span>
      <% end %>
    <% end %>
  </span>
<% end %>