.actionbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  column-gap: 8px;
}

.actionbar-button-group {
  display: flex;
  align-items: center;
  column-gap: 8px;

  + .actionbar-button-group {
    margin-left: 6px;
    border-left: 1px solid #ccc;
    padding-left: 14px;
  }
}

.actionbar-button {
  border: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #111;

  svg {
    width: 20px;
    height: 20px;
  }

  span {
    position: relative;
    top: 1px;
    margin-left: 6px;
    font-size: 0.85rem;
    padding-right: 2px;
  }

  .actionbar-button-group-danger &.confirmed {
    color: #dc2626;
  }
}
