.actionbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  column-gap: 8px;
}

.actionbar-button-group {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.actionbar-button {
  border: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #111;

  svg {
    width: 20px;
    height: 20px;
  }

  span {
    margin-left: 6px;
    font-size: 0.85rem;
    padding-right: 2px;
  }
}
