.cluebar {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  column-gap: 4px;
}

.cluebar-clues {
  padding: 0;
  list-style: none;
}

.cluebar-clue {
  font-size: 14px;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  color: var(--color-content-light-1);
  user-select: none;
}

.cluebar-clue-number {
  color: var(--color-bg-highlight);
  font-size: 15px;
  margin-right: 2px;
  user-select: none;
}

.cluebar-clue:first-child {
  display: block;
}

.cluebar-button {
  border: 0;
  background: transparent;
  color: var(--color-content-light-3);
  font-weight: bold;
  text-transform: none;
  width: 32px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  [data-lucide] {
    width: 24px;
    height: 24px;
  }
}
