.crossword {
  display: block;
  width: 100%;
  apspect-ratio: 1 / 1;
  background: transparent;

  .crossword-background {
    fill: transparent;
  }

  .crossword-cell {
    display: content;
  }

  .crossword-cell-background {
    fill: #fff;
    stroke: var(--color-bg-dark-2);
    stroke-opacity: 0.5;
    stroke-width: 0.5px;

    .highlighted > & {
      fill: var(--color-bg-highlight);
    }

    .active > & {
      fill: var(--color-bg-highlight-muted);
    }
  }

  .crossword-separator {
    fill: var(--color-bg-dark-2);
  }

  .crossword-cell-number {
    user-select: none;
    pointer-events: none;
    font-family: sans-serif;
    color: var(--color-bg-dark-1);
    font-size: 0.625rem;
  }

  .crossword-cell-text {
    font-size: 1rem;
    user-select: none;
    pointer-events: none;
    text-transform: uppercase;
  }
}
