.keyboard {
  padding: 6px 0;
  touch-action: none;
}

.keyboard-row {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;

  + .keyboard-row {
    margin-top: 6px;
  }
}

.keyboard-key {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: var(--color-bg-dark-4);
  width: calc((100% / 10) - (4px * 9 / 10));
  aspect-ratio: 1 / 1.1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-content-light-1);

  &:hover {
    background-color: var(--color-bg-dark-3);
  }
}
