.keyboard {
  --key-gap: 5px;
  --max-keys-per-row: 10;
  --key-width: calc(
    (100% / var(--max-keys-per-row)) -
      (var(--key-gap) * (var(--max-keys-per-row) - 1) / var(--max-keys-per-row))
  );

  padding: 6px 0;
  touch-action: none;
}

.keyboard-row {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  column-gap: var(--key-gap);

  + .keyboard-row {
    margin-top: 8px;
  }
}

.keyboard-key {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: var(--color-bg-dark-4);
  width: var(--key-width);
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-content-light-1);
  user-select: none;

  [data-lucide] {
    width: 20px;
  }

  &:active:not(.keyboard-key-delete) {
    box-shadow: 0px -1px 0px 2px rgba(20, 30, 51, 0.6);
    transform: scale(1, 1.2) translateY(-10%);
    transform-origin: bottom;

    .keyboard-label {
      transform: scale(1, 0.76) translateY(-20%);
      transform-origin: bottom;
    }
  }

  &.keyboard-key-delete {
    position: absolute;
    right: 0;
    width: calc(var(--key-width) + 12px);
    background-color: var(--color-bg-dark-3);
  }
}
