.keyboard {
  padding: 8px 0;
  touch-action: none;
}

.keyboard-row {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;

  + .keyboard-row {
    margin-top: 8px;
  }
}

.keyboard-key {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: #ddd;
  width: calc((100% / 10) - (4px * 9 / 10));
  aspect-ratio: 1 / 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 600;
  color: #111;

  &:hover {
    background-color: #ccc;
  }
}
