.puzzle {
  height: 100vh;
  height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  overflow: hidden;
  touch-action: none;
}

.puzzle-header {
  padding-inline: var(--puzzle-padding-inline);
}

.puzzle-header-container {
  max-width: var(--puzzle-max-width);
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0 12px 0;
}

.puzzle-logo {
  color: var(--color-bg-highlight);
  width: 24px;
  height: 24px;
}

.puzzle-number {
  color: var(--color-content-light-1);
  font-size: 15px;
  line-height: 1;
  font-weight: normal;
  opacity: 0.9;
}

.puzzle-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 8px;

  [data-lucide] {
    width: 20px;
    height: 20px;
  }
}

.puzzle-nav-button {
  color: var(--color-content-light-1);
  padding: 2px;
  opacity: 0.8;

  &.disabled {
    color: var(--color-content-light-3);
    opacity: 0.6;
  }
}

.puzzle-board {
  overflow: auto;
  position: relative;
  padding-inline: var(--puzzle-padding-inline);
}

.puzzle-board-container {
  position: relative;
  max-width: var(--puzzle-max-width);
  margin: 0 auto;
  width: 100%;

  & > * {
    position: absolute;
    inset: 0;
  }
}
