.timer {
  display: flex;
  align-items: center;
  column-gap: 4px;
  flex: none;
}

.timer-display {
  display: block;
  font-family: var(--font-mono);
  font-size: 15px;
  user-select: none;
  opacity: 0.6;
  transition: all 0.1s ease-in-out;

  .timer.running & {
    opacity: 0.9;
  }
}

.timer-button {
  flex-shrink: 0;
  color: var(--color-content-light-1);
  padding: 4px;
  opacity: 0.8;

  [data-lucide] {
    width: 14px;
    height: 14px;
  }
}
