<%
@page_title = "Your account"
%>

<section class="prose">
  <p>
    ✅ <span style="color: var(--color-bg-positive)">You are logged in.</span> Your crossword answers will be automatically synced
    across any devices that are also logged in to this account.
  </p>
</section>

<section class="prose">
  <h3>Account key:</h3>

  <div class="account-key">
    <%= Current.account.key %>
  </div>

  <p>Keep a note of this key somewhere safe! Without it you won't be able to get back into your account if you get logged out.</p>
</section>

<footer class="prose">
  <div class="p">To log out of your account <%= button_to tag.strong("click here"), session_path, method: :delete %>.</div>
  <p style="opacity: 0.7">&larr;  <%= link_to "Back to the crosswords", root_path %></p>
</footer>